# TODO: Add title of Python package.
title: ""
# TODO: Add abstract of Python package.
abstract: ""
authors:
  - family-names: {{ author_family_name }}
    given-names: {{ author_given_name }}
  # TODO: Add ORCID and affiliation for the author.
    orcid: ""
    affiliation: ""
  # TODO: Add more authors as needed.
  # - family-names: ""
  #   given-names: ""
  #   orcid: ""
  #   affiliation: ""
cff-version: 1.2.0
# doi:
# date-released: ""
keywords:
  # TODO: Add keywords relevant to the project.
  - ""
license: MIT
message: "If you use this Python package, please cite it using these metadata."
repository-code: "https://github.com/{{ github_repo_spec }}"
url: "{{ homepage }}"
