[project]
name = "{{ github_repo }}"
version = "0.1.0"
# TODO: Add a description of the package.
description = ""
authors = [
  # TODO: Add author information.
  {name = "FIRST LAST", email = "" },
]
maintainers = [
  # TODO: Add maintainer information.
  {name = "FIRST LAST", email = "" },
]
readme = "README.md"
license = "MIT"
license-files = ["LICENSE.md"]
requires-python = ">=3.12"
dependencies = []

[project.urls]
# TODO: Add URLs relevant to the project.
homepage = ""
repository = "https://github.com/{{ github_repo_spec }}"
changelog = "https://github.com/{{ github_repo_spec }}/blob/main/CHANGELOG.md"
issues = "https://github.com/{{ github_repo_spec }}/issues"

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"
