[project]
name = "{{ github_repo }}"
version = "0.1.0"
# TODO: Add a description of the package.
description = ""
authors = [
  # TODO: Add author information.
  {name = "FIRST LAST", email = "" },
]
maintainers = [
  # TODO: Add maintainer information.
  {name = "FIRST LAST", email = "" },
]
readme = "README.md"
license = "MIT"
license-files = ["LICENSE.md"]
requires-python = ">=3.12"
dependencies = []
# From https://pypi.org/classifiers/
classifiers = [
  "License :: OSI Approved :: MIT License",

  # Strict typing, checked via mypy
  "Typing :: Typed",

  # How mature is this project? Common values are
  #   3 - Alpha
  #   4 - Beta
  #   5 - Production/Stable
  "Development Status :: 4 - Beta",

  # Indicate who your project is intended for
  "Intended Audience :: Developers",

  # Specify the Python versions you support here.
  "Programming Language :: Python :: 3",
  "Programming Language :: Python :: 3.12",
]

[project.urls]
# TODO: Add URLs relevant to the project.
homepage = ""
repository = "https://github.com/{{ github_repo_spec }}"
changelog = "https://github.com/{{ github_repo_spec }}/blob/main/CHANGELOG.md"
issues = "https://github.com/{{ github_repo_spec }}/issues"

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"
