name: Build website

on:
  push:
    branches:
      - main

# Limit token permissions for security
permissions: read-all

jobs:
  build-website:
    runs-on: ubuntu-latest
    {% if hosting_provider == 'gh-pages' -%}
    with:
      hosting-provider: gh-pages
    permissions:
      contents: write
      pages: write
    {%- endif %}
    concurrency:
      group: build-website-python-group
      cancel-in-progress: true
    env:
        QUARTO_PYTHON: ".venv/bin/python3"
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@ab7a9404c0f3da075243ca237b5fac12c98deaa5 # v2.19.3
        with:
          egress-policy: audit

      - name: Check out repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Install uv
        uses: astral-sh/setup-uv@08807647e7069bb48b6ef5acd8ec9567f424441b # v8.1.0
        with:
          # Install a specific version of uv.
          # uv recommends to set the version for best practice.
          version: "0.11.15"
          # To have a faster CI time, enable cache between runs.
          enable-cache: true
          # Reset the cache if the lock file changes.
          cache-dependency-glob: "uv.lock"

      - name: "Set up Python"
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version-file: "pyproject.toml"

      - name: Install the project and it's dependencies
        run: |
            uv sync --all-extras --dev
            echo "$PWD/.venv/bin" >> "$GITHUB_PATH"

      - name: Set up Quarto
        uses: quarto-dev/quarto-actions/setup@8a96df13519ee81fd526f2dfca5962811136661b # v2.2.0

      - name: Spell check repo
        uses: crate-ci/typos@aca895bf05aec0cb7dffa6f94495e923224d9f17 # v1.46.2
        with:
          config: .config/typos.toml

      - name: Build function reference docs
        run: uv run quartodoc build

      {% if hosting_provider == 'netlify' -%}
      - name: Publish to Netlify (and render)
        if: {{ "${{ inputs.hosting-provider == 'netlify' }}" }}
        uses: quarto-dev/quarto-actions/publish@8a96df13519ee81fd526f2dfca5962811136661b # v2.2.0
        with:
          target: netlify
          NETLIFY_AUTH_TOKEN: {{ '${{ secrets.netlify-token }}' }}

      {%- elif hosting_provider == 'gh-pages' -%}
      # NOTE: If Publishing to GitHub Pages, set the permissions correctly (see above).
      - name: Publish to GitHub Pages (and render)
        if: {{ "${{ inputs.hosting-provider == 'gh-pages' }}" }}
        uses: quarto-dev/quarto-actions/publish@8a96df13519ee81fd526f2dfca5962811136661b # v2.2.0
        with:
          target: gh-pages
        env:
          GITHUB_TOKEN: {{ '${{ secrets.github-token }}' }}
      {%- endif %}
